/* mobile */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
}

body {
  background-color: #faf4f1;
  color: #466979;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

video {
  width: 100%;
}

.timeline a {
  color: #466979;
}

.overskrift1,
.overskrift2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: white;
  text-transform: uppercase;
}

.kursiv {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 22px;
  background-color: white;
  padding-top: 20px;
}

.forste_tekst {
  background-color: white;
  margin: 100px;
  padding: 20px;
}

.anden_tekst {
  background-color: white;
  margin: 50px;
  padding: 20px;
  margin-top: 150px;
}

.tekst1,
.tekst2,
.tekst3,
.tekst4 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 50px;
  font-size: 12px;
  padding: 20px;
  text-align: left;
  line-height: 20px;
}

.citat1,
.citat2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  margin: 50px;
  line-height: 30px;
  color: white;
}

h2 {
  color: white;
  background-color: #3e5c6d;
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.overskrift3,
.overskrift4 {
  background-color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-transform: uppercase;
  margin-top: 280px;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 50px;
}

.info {
  margin-left: 20px;
  margin-right: 20px;
}

.mobilepay,
.mail {
  color: #e9502d;
  font-weight: bold;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.img {
  background-image: url("/public/img/baggrund2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.billede1noline {
  background-image: url("/public/img/billed1noline.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}

.billede1line {
  background-image: url("/public/img/billede1line.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
}

.billede2noline {
  background-image: url("/public/img/billed2noline.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}

.billede2line {
  background-image: url("/public/img/billede2line.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img2 {
  background-image: url("/public/img/baggrund1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.bold {
  font-weight: bold;
  margin-bottom: 80px;
}

.some {
  background-color: #466979;
  padding: 50px;
  color: white;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.garnnogle {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.animation video {
  width: 80%;
}

.garnnogle video {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#instagram {
  background-color: #466979;
}

.billeder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.billeder img {
  width: 10rem;
  height: 10rem;
}

#start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starttekst {
  position: absolute;
  text-align: center;
}

.scrollingcontainer {
  display: flex;
  flex-direction: row;
}
.scrollingcontainer img {
  width: 10rem;
}

@media only screen and (min-width: 600px) {
  .tekst1,
  .tekst2,
  .tekst3,
  .tekst4 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 50px;
    font-size: 16px;
    padding: 20px;
    text-align: left;
    line-height: 20px;
    width: 50rem;
  }

  .citat1,
  .citat2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: italic;
    margin: 50px;
    line-height: 40px;
    color: white;
    width: 50rem;
  }

  .overskrift3 {
    width: 40rem;
  }
}
