---

---

<html lang="da">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="style.css">
        <title>I Tråd Med Verden Webfeature</title>
    </head>

	<body>
    	<main>
   		   <article id="start">
			<!-- nedenfor er startvideo -->
				<video src="startvideo">baggrundsvideo</video>

				<div class="forste_tekst">
				<h1 class="overskrift1">VELKOMMEN TIL I TRÅD MED VERDEN</h1>
        		<p class="kursiv">Siden 2018</p>
				</div>
    
       			<h1 class="overskrift2">VI TAGER ANSVAR FOR PLANETEN OG SAMFUNDET</h1>
				</article>
    
        	<nav class="timeline">
        		<a href="#itmv">ITMV</a>
        		<a href="#historie">HISTORIE</a>
        		<a href="#tal">TAL</a>
        		<a href="#doner">DONÉR</a>
        		<a href="#instagram">INSTAGRAM</a>
        	</nav>

        	<article class="animation">
				<!-- nedenfor er logo animationen -->
        		<img src="logo" alt="her ligger logo_animation">        
        	</article>
    
        	<article id="itmv">
        		<!-- bag tekst 1 og 2 skal være et baggrundsbillede med tekst -->
				<p class="tekst1">
        		Vi arbejder med design og genanvendelse af kasserede tekstiler for at skabe jobmuligheder, netværk og livskvalitet for udsatte kvinder, som har mistet fodfæste på arbejdsmarkedet. Kvindernes kompetencer, ressourcer og bidrag skal sættes i spil på det danske arbejdsmarked. 
        		</p>

				<p class="tekst2">Vores formål er at danne fællesskaber og genere viden omkring genanvendelse af tekstil. Vi mener, det er nødvendigt at finde løsninger på de problemer, tekstilindustrien skaber - såsom tekstilaffald - og dette er vores arbejde et konkret bud på.
				</p>
       		 	
				<!-- whiteline: bag citat1 og tekst 3 skal være et baggrundsbillede med tekst -->
				<p class="citat1">
				“ITMV er bæredygtige hele vejen rundt. Vi lykkes med at få kvinder i job - og samtidig løser vi  komplicerede designopgaver uden at gå på kompromis med vores syerskes ve og vel.”
				Liv Bejer Heckmann
				Chef for Design og Udvikling for ITMV
				</p>
		
				<p class="tekst3">
				På værkstederne arbejder syerske i fleksjob eller småjob samt en gruppe borgere i virksomhedspraktik. Som medarbejder og praktikant indgår man i produktionen og i arbejdsfællesskabet sammen med værkstedernes faste team af designere og socialt fagligt personale.
				</p>
		
				<!-- bag tekst 4 skal være et baggrundsbillede med tekst -->
				<p class="tekst4">
				Vi tror på, at mennesker bliver gladere og stærkere af at arbejde med noget, de brænder for. Desuden ønsker vi at bidrage til den grønne omstilling ved at skabe en cirkulær produktion, hvor kasserede tekstiler kan få nyt liv i stedet for at ende på forbrændingen.
				</p>
		
				<!-- whiteline: bag tekst 4 skal være et baggrundsbillede med tekst -->
				<p class="citat2">
				“Vi tager altid udgangspunkt i den enkeltes ressourcer og har fokus på, at arbejdet skal give succesoplevelser, motivation, glæde og en tro på fremtiden. Hvert ansatte hos os, er en solstrålehistorie”
				Liv Bejer Heckmann
				Chef for Design og Udvikling for ITMV
				</p>
			</article>

        	<article id="historie">
				<!-- her skal være historieanimation -->
				<img src="animationsvideo" alt="her ligger nål animation 1">
				<h2>VORES HISTORIE</h2>
			</article>

        	<article id="tal">
				<!-- her skal være baggrundsbillede af tekstiler -->
				<img src="img" alt="baggrundsbillede">
				<h1>MEN HVORFOR ER DER BRUG FOR AT GENANVENDE STOF?</h1>
		
				<article class="circles">
					<!-- her ligger vores cirkler -->
				</article>

				<article class="circles">
					<!-- her ligger vores cirkler -->
				</article>

				<article class="circles">
					<!-- her ligger vores cirkler -->
				</article>
			
				<article class="img">
					<!-- her skal være baggrundsbillede af kvinder -->
					<img src="img" alt="baggrundsbillede">
					<h1>SAMMEN HAR VI SØRGET FOR</h1>
				</article>

				<article class="circles">
					<!-- her ligger vores cirkler -->
				</article>
	
				<article class="circles">
					<!-- her ligger vores cirkler -->
				</article>
	
				<article class="circles">
					<!-- her ligger vores cirkler -->
				</article>
			
				<article class="interview">
					<!-- her skal interview video være -->
					<video src="video">interview</video>
				</article>
			
				<article class="video_efter_interview">
					<!-- her skal den stiplede nål animation være -->
					<img src="animationsvideo" alt="her ligger nål animation 2">
				</article>
			</article>

        	<article id="doner">
				<p>SCAN QR-KODEN & DONÉR VIA MOBILEPAY PÅ</p>
				<p class="mobilepay">971216</p>
				
				<p>Ønsker man et faktura eller at benytte bankoverførsel, kontakt Martha på mail</p>
				<p class="mail">maro@itmv.dk</p>
			
				<div class="billeder">
					<!-- her skal billede af mobil være -->
					<img src="mobil" alt="mobil">
					<!-- her skal QR-kode være -->
					<img src="qr" alt="qr">
				</div>

				<p>...Og vær med til at gøre en forskel sammen med I Tråd Med Verden</p>
				<p class="bold">TAK FOR DIN STØTTE!</p>
			</article>

        	<article id="instagram">
				<a href="link">FØLG MED PÅ VORES INSTAGRAM</a>
				<!-- her skal de nederste scrollende billeder være -->
				<img src="billeder" alt="scrollende billeder">
	
				<div class="illustration">
				<!-- her skal garn illustrationen være -->
				<img src="animation" alt="garnnøgle">
				</div>
			</article>
        </main>
    </body>
</html>
