---

---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro test</title>
	</head>

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro test</title>
	</head>

<body>
	<main>
		<h1>VELKOMMEN I TRÅD MED VERDEN</h1>
		<h1 class="overskrift"><p>Siden 2018</p></h1>
	
		<h1>VI TAGER ANSVAR FOR PLANETEN OG SAMFUNDET</h1>
	
	<nav class="timeline">
		<a href="#itmv">ITMV</a>
		<a href="#historie">HISTORIE</a>
		<a href="tal">TAL</a>
		<a href="donér">DONÉR</a>
		<a href="instagram">INSTAGRAM</a>
	</nav>

	<article class="logo">
		<img src="logo" alt="her ligger logo_animation">		
	</article>
	




	<article id="itmv">
		<p>
		Vi arbejder med design og genanvendelse af kasserede tekstiler for at skabe jobmuligheder, netværk og livskvalitet for udsatte kvinder, som har mistet fodfæste på arbejdsmarkedet. Kvindernes kompetencer, ressourcer og bidrag skal sættes i spil på det danske arbejdsmarked. 
		</p>
	</article>

	<article></article>



	
		<p class="tekst2">Vores formål er at danne fællesskaber og genere viden omkring genanvendelse af tekstil. Vi mener, det er nødvendigt at finde løsninger på de problemer, tekstilindustrien skaber - såsom tekstilaffald - og dette er vores arbejde et konkret bud på.</p>
	
		<article class="citat1">
		“ITMV er bæredygtige hele vejen rundt. Vi lykkes med at få kvinder i job - og samtidig løser vi  komplicerede designopgaver uden at gå på kompromis med vores syerskes ve og vel.”
	
		<div class="citat_slut">
		<p>
		Liv Bejer Heckmann
		Chef for Design og Udvikling for ITMV</div>
		</p>
	
		<p class="tekst3">
		På værkstederne arbejder syerske i fleksjob eller småjob samt en gruppe borgere i virksomhedspraktik. Som medarbejder og praktikant indgår man i produktionen og i arbejdsfællesskabet sammen med værkstedernes faste team af designere og socialt fagligt personale.
		</p>
	
		<p class="tekst4">
		Vi tror på, at mennesker bliver gladere og stærkere af at arbejde med noget, de brænder for. Desuden ønsker vi at bidrage til den grønne omstilling ved at skabe en cirkulær produktion, hvor kasserede tekstiler kan få nyt liv i stedet for at ende på forbrændingen.
		</p>
	
		<p class="citat2">
		“Vi tager altid udgangspunkt i den enkeltes ressourcer og har fokus på, at arbejdet skal give succesoplevelser, motivation, glæde og en tro på fremtiden. Hvert ansatte hos os, er en solstrålehistorie”
		<div class="citat_slut">Liv Bejer Heckmann
		Chef for Design og Udvikling for ITMV</div>
		</p>
		</article>
	
		<article class="vores_historie">
		<h2>VORES HISTORIE</h2>
		<img src="animationsvideo" alt="her ligger nål animation 1">
		</article>
	
		<article class="img">
		<img src="img" alt="baggrundsbillede">
		<h1>MEN HVORFOR ER DER BRUG FOR AT GENANVENDE STOF?</h1>
		</article>
	
		<article class="circles">
		<img src="video" alt="vores circles">
		</article>
	
			<article class="img">
				<img src="img" alt="baggrundsbillede">
				<h1>SAMMEN HAR VI SØRGET FOR</h1>
			</article>
	
			<article class="video">
			<video src="video">interview</video>
			</article>
	
			<article class="video_efter_interview">
				<img src="animationsvideo" alt="her ligger nål animation 2">
			</article>
	
			<article class="donation">
				<p>SCAN QR-KODEN & DONÉR VIA MOBILEPAY PÅ</p>
				<p class="mobilepay">971216</p>
	
				<p>Ønsker man et faktura eller at benytte bankoverførsel, kontakt Martha på mail</p>
				<p class="mail">maro@itmv.dk</p>
	
				<img src="mobil" alt="mobil">
				<img src="qr" alt="qr">
	
				<p>...Og vær med til at gøre en forskel sammen med I Tråd Med Verden</p>
				<p class="bold">TAK FOR DIN STØTTE!</p>
			</article>
	
			<article class="Instagram">
				<a href="Instagram">FØLG MED PÅ VORES INSTAGRAM</a>
				<img src="Instagram" alt="billeder">
			</article>
	
			<article class="animation">
				<img src="animation" alt="garnnøgle">
			</article>
			</main>
		</body>
	</html>