---

---
<article>
	<nav>
		<ul>
		  <div class="hjerte1">
			<a href="#itmv">
				<li> <img src="/public/img/hjerte2.svg" alt="hjerte"></li>
				<div class="hjerte1txt"><p>ITMV</p></div>
			</a>
		  </div>
		  <div class="hjerte2">
			<a href="#historie">
				<li> <img src="/public/img/hjerte2.svg" alt="hjerte"></li>
				<div class="hjerte2txt"><p>HISTORIE</p></div>
			</a>
		  </div>
		  <div class="hjerte3">
			<a href="#tal">
				<li> <img src="/public/img/hjerte2.svg" alt="hjerte"></li>
				<div class="hjerte3txt"><p>TAL</p></div>
			</a>
		  </div>
		  <div class="hjerte4">
			<a href="#doner">
				<li> <img src="/public/img/hjerte2.svg" alt="hjerte"></li>
				<div class="hjerte4txt"><p>DONÈR</p></div>
			</a>
		  </div>
		  <div class="hjerte5">
			<a href="#instagram">
				<li> <img src="/public/img/hjerte2.svg" alt="hjerte"></li>
				<div class="hjerte5txt"><p>INSTAGRAM</p></div>
			</a>
		  </div>
		
		</ul>
	</nav>
  </article>


  <style>

a{
		text-decoration: none;
		color: #3E5C6D;
	}

	/* css for mobilsite  */
   @media (max-width: 900px){
	nav{
		background-image: url(/public/img/ny_traad.svg);
		background-repeat: no-repeat;
		height: 900px;
		background-size: 5%;
		margin-left: 10px;
		position: fixed;
		z-index: 1;
	}

	ul{
		display: grid;
		gap: 85px;
		padding-top: 5%;
		position: absolute;
		left: 1%;
		height: 20%;
		top: 5%;
    } 

	li{
		width: 60%;
	}

	.hjerte1txt{
		padding-left: 70%;
		margin-top: -85px;
	}
	.hjerte2txt{
		padding-left: 70%;
		margin-top: -85px;
	}
	.hjerte3txt{
		padding-left: 70%;
		margin-top: -85px;
	}
	.hjerte4txt{
		padding-left: 70%;
		margin-top: -85px;
	}
	.hjerte5txt{
		padding-left: 70%;
		margin-top: -85px;
	}

	}

	/* css for desktop */
@media (min-width: 900px){
	nav{
			background-image: url(/public/img/ny_traad.svg);
			background-repeat: no-repeat;
			background-size: 2.2%;
			height: 1200px;
			margin-left: 74px;
			position: fixed;
			top: 7%;
		}

		ul{
			display: grid;
			gap: 110px;
			padding-top: 2%;
			margin-left: -45px;
			position: absolute;
		}

		li{
			width: 75%;
		}
		a{
			list-style-type: none;
			font-size: large;
		}

		.hjerte1txt{
			padding-left: 113%;
			margin-top: -108px;

		}
		.hjerte2txt{
			padding-left: 113%;
			margin-top: -108px;

		}
		.hjerte3txt{
			padding-left: 113%;
			margin-top: -109px;

		}
		.hjerte4txt{
			padding-left: 113%;
			margin-top: -108px;

		}
		.hjerte5txt{
			padding-left: 113%;
			margin-top: -108px;
		}

}
  </style>


